<%= javascript_tag do %>
	var sed = <%= exercise_log[:sedentary] %>;	
	var lightly = <%= exercise_log[:lightly_active] %>;
	var fairly = <%= exercise_log[:fairly_active] %>;
	var very = <%= exercise_log[:very_active] %>;
	//Uncomment foo and then the graph dies!!!!
	var numDays = <%= exercise_log[:days].length%>
	var days = new Array();
	for(int i = 0; i < numDays; i++ )
	{
		days[i] = <%= j (exercise_log[:days][i]) %>
	}
	
<% end %>

<h2>This Week's Steps: <%= exercise_log[:days] %></h2>

<div id="exercise_log_container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<script>
  $(populate_exercise_log_container());
</script>
<% javascript_include_tag "exercise_log"%>
